<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container-fluid">
        <ion-item class="input-group-text">
            <ion-label position="floating">Username </ion-label>
            <ion-input [(ngModel)]="Username" type="text"></ion-input>
        </ion-item>

        <ion-item class="input-group-text">
            <ion-label position="floating">Email </ion-label>
            <ion-input [(ngModel)]="Email" type="text"></ion-input>
        </ion-item>


        <ion-item class="input-group-text">
            <ion-label position="floating"> Password </ion-label>
            <ion-input [(ngModel)]="pdw" type="text"></ion-input>
        </ion-item>


    </div>
    <div text-center>
        <ion-button (click)="signup()">signup</ion-button>
    </div>
    <br>

    <div text-center>
        <b>or</b>
        <br>
        <ion-button (click)="goto_login()" fill="clear">login</ion-button>
    </div>

</ion-content>